@import '../variables.css';
/* dashoard content */
.dsh {
  display: flex;
  align-items: center;
}
.dsh-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.dsh-content_header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.dsh-content_name h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: -1.5rem;
}
.dsh-content_name {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dsh-content_name p {
  font-size: 1.6rem;
}
.dsh-profile-com {
  display: flex;
  align-items: center;
}
.dsh-profile-com h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 1rem;
}
.dsh-content_body-topitems {
  display: flex;
}
.dshBut {
  background: linear-gradient(
    to right bottom,
    var(--clr-pri),
    var(--clr-pri-dark)
  ) !important;
  font-size: 1.4rem !important;
}
.db-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #870461, #2d0120);
  color: white;
}

.db-navbar .topItems {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
}
.db-navbarIcon {
  font-size: 4rem;
}

.db-navbar .topItems ion-icon {
  margin-bottom: 2rem;
}
.db-navbar .bottomItems ion-icon {
  margin-bottom: 2rem;
}

.db-navbar .bottomItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}
.dblogo {
  width: 5rem;
  border-radius: 1rem;
  margin: 3rem 0;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.55);
}
.ionIcons {
  margin-bottom: 2rem;
}
/* workspace create css */

.wrk-card {
  width: 50rem;
  margin: 10rem auto;
  height: 40rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.wrk-card form {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 80%;
}
.wrk-card form h1 {
  font-size: 2.5rem;
  font-weight: 200;
}
.wrk-card form p {
  font-size: 1.6rem;
  font-weight: 200;
}
.letterCard {
  width: 10rem;
  height: 10rem;
  background: linear-gradient(
    to right bottom,
    var(--clr-pri),
    var(--clr-pri-dark)
  );
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.letterCard h1 {
  font-size: 5rem !important;
  font-weight: 100;
}
.wrkformgroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem auto;
}
.wrkformgroup label {
  font-size: 1.6rem;
  text-align: left !important;
  font-weight: 100;
  margin-bottom: 0.5rem;
}
.wrkformgroup input {
  font-size: 1.5rem;
  width: 100%;
  padding: 0.65rem 0.4rem;
  border: 1px solid lightgray;
}
.wrkformgroup input:focus {
  outline: none;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15);
}
