@import '../variables.css';
.offscreen {
  display: none;
}
.errmsg {
  padding: 1rem 0;
  font-size: 1.6rem;
  background-color: lightpink;
  color: red;
  width: 50%;
}
.formLogin {
  width: 50%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.loginForm button {
  font-size: 2rem;
  padding: 1rem 0;
  background-color: rgb(94, 2, 94);
  border: none;
  color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.loginForm button:hover {
  background-color: rgb(68, 2, 68);
}
.loginForm button span {
  font-size: 2.5rem;
}
.loginForm input {
  outline: none;
  border: 1px solid rgba(94, 2, 94, 0.788);
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.loginForm label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}
.loginHeader {
  font-size: 5rem;
}
.loginForm p {
  font-size: 2rem;
  color: white;
}
@media only screen and (max-width: 600px) {
  .formLogin {
    width: 100%;
  }
  .loginForm {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .formLogin {
    width: 80%;
  }
  .loginForm {
    width: 70%;
  }
}

/* register page design code */
.reg {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
.reg-sidebar {
  width: 20%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    var(--clr-pri),
    var(--clr-pri-dark)
  );
  text-align: left;
  padding: 3rem;
}
.reg-sidebar Logo {
  position: absolute;
  left: 2rem;
  top: 3rem;
}
.reg-sidebar_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100%;
}
.reg-sidebar_text h1 {
  font-size: 2.5rem;
}
.reg-sidebar_text p {
  font-size: 2rem;
}
.regbut {
  background-color: var(--clr-pri) !important;
  font-size: 1.35rem !important;
}
.reglog {
  display: flex;
  width: 20%;
  margin-top: 3rem;
}
.reglog p {
  font-size: 1.5rem;
  margin-right: 2rem;
}

/* form design */
.reg form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 2rem auto;
}
.regformgroup {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.regformgroup label {
  font-size: 1.5rem;
}
.regformgroup input {
  font-size: 1.5rem;
  padding: 0.75rem;
  background-color: white;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 70%;
}
.regformgroup input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.regformtext h1 {
  font-size: 3rem;
  margin: 7rem 0 3rem 0;
}
